/*---------------------------*/
/* Special Collection Styles */
/*---------------------------*/

.collection-mobile {
    height: 100vh;
    width: 100vw;
    scroll-behavior: auto;
}

.collection-mobile h1 {
	font-size: 12vw;
    font-weight: normal;
}

.collection-mobile h2 {
	font-size: 10vw;
    font-weight: normal;
}

.collection-mobile h3 {
    font-size: 6vw;
    font-weight: normal;
}

.collection-mobile h4 {
    font-size: 6vw;
}

.collection-mobile h5 {
    font-size: 5vw;
}

.back-button {
    position: absolute;
    margin: 0 0 0 1vw;
    height: 5vh;
    width: 100vw;
    z-index: 100;
}

.back-button-title {
    margin: 1vh;
    height: 5vh;
    width: 100vw;
    z-index: -10;
}

/*----------------------------------------*/
/*          Start Specific styles         */
/*----------------------------------------*/


/*---- General Elements ----*/

.collection-mobile .box-mobile {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 90vh;
}

.collection-mobile .legal a {
    font-size: 2vh;
}

.collection-mobile a {
    text-decoration: none;
}

.collection-mobile p {
    font-size: 4.5vw;
}

.collection-mobile #navigation-button:hover {
    transform: none;
}

.collection-mobile .content-mobile {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection-mobile .content-mobile-text {
    margin: 0 10vw 0 10vw;
    flex: 0 1 auto;
}

.collection-mobile .contact-link {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*---- Art Collection Elements ----*/

.collection-mobile .art-description {
    flex: 0 1 auto;
    width: 90%;
    background-color:rgba(245, 239, 239, 0.3);
}

/* Art One */
.collection-mobile .art-image-one {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    background-image: url("./assets/img/2021Fall/FrenchWall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* Art Two */
.collection-mobile .art-image-two {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    background-image: url("./assets/img/2021Fall/SpiritLake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* Art Three */
.collection-mobile .art-image-three {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    background-image: url("./assets/img/2021Spring/ArtTwo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* Art Four */
.collection-mobile .art-image-four {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    background-image: url("./assets/img/2021Spring/ArtOne.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}




