/*-----------------------*/
/* Special Mobile Styles */
/*-----------------------*/

/* General Styles*/

.artists-mobile {
    height: 100vh;
    width: 100vw;
    scroll-behavior: auto;
}

.artists-mobile h1 {
	font-size: 12vw;
    font-weight: normal;
}

.artists-mobile h2 {
	font-size: 10vw;
    font-weight: normal;
}

.artists-mobile h3 {
    font-size: 6vw;
    font-weight: normal;
}

.artists-mobile h4 {
    font-size: 6vw;
}

.artists-mobile h5 {
    font-size: 5vw;
}

.back-button {
    position: absolute;
    margin: 0 0 0 1vw;
    height: 5vh;
    width: 100vw;
    z-index: 100;
}

.back-button-title {
    margin: 1vh;
    height: 5vh;
    width: 100vw;
    z-index: -10;
}

/*----------------------------------------*/
/*          Start Specific styles         */
/*----------------------------------------*/


/*---- General Elements ----*/

.artists-mobile .box-mobile {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 90vh;
}

.artists-mobile .legal a {
    font-size: 2vh;
}

.artists-mobile a {
    text-decoration: none;
}

.artists-mobile p {
    font-size: 30px;
    font-size: 4.5vw;
}

.artists-mobile #navigation-button:hover {
    transform: none;
}

.artists-mobile .content-mobile {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*---- Artists Elements ----*/

.artists-mobile .art-description {
    flex: 0 1 auto;
    width: 90%;
    background-color:rgba(245, 239, 239, 0.3);
}

/* Artist One */
.artists-mobile .artist-image-one {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    background-image: url("./assets/img/DL_Beni.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* Artist Two */
.artists-mobile .artist-image-two {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    /*background-image: url("./assets/img/ArtOne.jpeg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

/* Artist Three */
.artists-mobile .artist-image-three {
    flex: 1 1 auto;
    width: 90%;
    margin: 0;
    /*background-image: url("./assets/img/ArtOne.jpeg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}




