/*-----------------------*/
/* Special Mobile Styles */
/*-----------------------*/

/* General Styles*/

.application-mobile {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
}

.application-mobile .background {
    height: 100%;
}

.application-mobile h1 {
	font-size: 12vw;
    font-weight: normal;
}

.application-mobile h2 {
	font-size: 10vw;
    font-weight: normal;
}

.application-mobile h3 {
    font-size: 6vw;
    font-weight: normal;
}

.application-mobile h4 {
    font-size: 6vw;
}

.application-mobile h5 {
    font-size: 5vw;
}

.application-mobile p {
    font-size: 4.5vw;
}

/*----------------------------------------*/
/*          Start Specific styles         */
/*----------------------------------------*/


/*---- General Elements ----*/

.application-mobile .box-mobile {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 90vh;
}

.application-mobile .legal a {
    font-size: 2vh;
}

.application-mobile a {
    text-decoration: none;
}

.application-mobile .legal .language-switch {
    font-size: 2vh;
    font-weight:bold;
}

/*---- Welcome Elements ----*/

.application-mobile #navigation-button:hover {
    transform: none;
}

.application-mobile #subtitle {
    margin: 0;
    font-weight: lighter;
}

.content-mobile {
    margin: 0 10vw 0 10vw;
    flex: 1 1 auto;
}

/*---- Art Collection Elements ----*/

/*---- Vision Elements ----*/



/*---- Artists Elements ----*/


/*---- Contact Elements ----*/



