/* General Styles*/
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(1, 19, 31);
}

a {
    color: rgb(1, 19, 31);
    text-decoration: none;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
}

h2 {
    font-size: 4vw;
    font-weight: normal;
}

h3 {
    font-size: 3vw;
    font-weight: normal;
}

h4 {
    font-size: 1.7vw;
}

h5 {
    font-size: 1.3vw;
}

.base {
    padding: 5vh 5%;
    min-height: 600px;
}

.application {
    height: 100vh;
    width: 100vw;
    min-height: 600px;
}

.navigation-indicator {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    transition: ease-out 0.5s;
}

.shadow-box {
    height: 90vh;
    width: 90vw;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, 0.2);
}

/*----------------------------------------*/
/*          Start Specific styles         */
/*----------------------------------------*/

.right-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.left-box {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 90vh;
    min-height: 600px;
}

.header-box {
    margin: 10%;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    flex: 1 1 auto;
}

#title {
    margin: 0;
}

#subtitle {
    margin: 0;
    font-weight: lighter;
}

#contact-button {
    margin-top: 10vh;
    transition: all .2s ease-in-out;
}

#contact-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#navigation-pointer:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/*---- Artists Elements ----*/

.artists-row {
    flex: 1 1 auto;
    display: flex;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.artists-description {
    width: 70%;
    height: 20%;
    border-top: solid;
    border-color: rgb(1, 31, 51);
    margin: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 239, 239, 0.3);
}

.artist-image {
    width: 100%;
    height: 80%;
    margin: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Artists One */
.artist-image-one {
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/DL_Beni.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Artist Two */
.artist-image-two {
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/MB.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Artist Three */
.artist-image-three {
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/GV.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-link:hover {
    cursor: pointer;
}


/* Contact Elements */

.social-desktop {
    height: 3vh;
    width: 3vh;
    margin-right: 1vh;
}

.contact-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}